{% extends 'base.html' %}
{% block title %}Health Library{% endblock %}

{% block content %}
<section class="big-section">
    <div class="container">

        <div class="big-header text-center">
            <h1>Health Library</h1>
            <p>Learn about diseases and treatments</p>
        </div>

        <div class="row g-4">

            <div class="col-lg-6">
                <div class="big-card">
                    <h4>Heart Health</h4>
                    <p>Information about heart diseases.</p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="big-card">
                    <h4>Neurology</h4>
                    <p>Brain and nervous system care.</p>
                </div>
            </div>

        </div>

    </div>
</section>
{% endblock %}