{% extends 'base.html' %}
{% load static %}

{% block title %}Home | Medicare{% endblock %}

{% block content %}

 

<!-- INTRO -->
<section class="container home-intro-section">
    <div class="row align-items-center g-5">
        <div class="col-lg-6 text-center">
            <img src="{% static 'images/dawaa.jpg' %}" class="showcase-image">
        </div>
        <div class="col-lg-6">
            <h2 class="showcase-title">Quality Medicines, Expert Care</h2>
            <p class="showcase-copy">
                Access verified pharmaceutical products supported by medical professionals.
            </p>
        </div>
    </div>
</section>

<!-- FEATURES -->
<section class="container feature-strip-section">
    <div class="row g-4 justify-content-center">

        <div class="col-md-4 text-center">
            <div class="simple-feature-card">
                <img src="{% static 'images/advice.jpg' %}" class="simple-feature-image">
                <p>Looking for expert medical advice?</p>
            </div>
        </div>

        <div class="col-md-4 text-center">
            <div class="simple-feature-card">
                <img src="{% static 'images/a.jpg' %}" class="simple-feature-image">
                <p>Want your treatment managed by professionals?</p>
            </div>
        </div>

        <div class="col-md-4 text-center">
            <div class="simple-feature-card">
                <img src="{% static 'images/images.jpg' %}" class="simple-feature-image">
                <p>Ready to support better healthcare?</p>
            </div>
        </div>

    </div>
</section>

<!-- DOCTORS -->
 
<section class="container doctors-preview-section">
    <div class="text-center mb-4">
        <h3 class="preview-heading">Our Doctors</h3>
    </div>

    <div class="row g-4">
        {% for doctor in doctors %}
            <div class="col-md-4">
                <div class="doctor-preview-card text-center">
 
                     <img src="{{ doctor.image.url }}" class="doctor-image">

                    <h5>{{ doctor.name }}</h5>
                    <p>{{ doctor.specialty }}</p>

                    <a href="{% url 'book' doctor.id %}" 
                       class="btn btn-primary btn-sm px-4">
                        Book Appointment
                    </a>

                </div>
            </div>
        {% endfor %}
    </div>
</section>

{% endblock %}